.menu {
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #141414;
  color: #ffffff;
}

.card-section {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
