/* bg: #141414 | acent: #B9090B | text: #FFFFFF | btn: #FFFFFF 30% opacity */
/* side bar: w-60px, h-100vh, menu-centered */
/* side var menu item on hover underline red accent color */

/*Icons source*/
/*<a target="_blank" href="https://icons8.com/icon/i6fZC6wuprSu/home">Home</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/

.sidenav {
  width: 60px;
  height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
}
