.hero {
  height: 60vh;
  width: 100%;
  background-color: #b9090b;
  padding-left: 50px;
  padding-top: 20vh;
}

.description {
  width: 260px;
  height: 120px;
  overflow: hidden;
}

.btn-section {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.btn.play {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.info {
  background-color: #ffffff8e;
  color: #ffffff;
}
