@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* test */
/* .parent {
  background-color: red;
  display: block;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.child {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  background-color: azure;
  margin-left: 5px;
} */
